<br>
<html>
<head>
    <script src="../../../Assets/js/Affichage.js" type="text/javascript" LANGUAGE="JavaScript">
    </script>
    <link rel="stylesheet" href="../../../Assets/css/Affichage.css" />
</head>
<body>
<br>
<label id="selection_table"> Veuillez selectionner vos tables : </label>
<table>
    <tr>
        <td rowspan="2">
            <select name="listA" id="table1" multiple="true" ondblclick="swap('listA','listB')">
                <option> Association_Etudiante </option>
                <option> Delegue </option>
                <option> Etudiant </option>
                <option> Semestre </option>
                <option> Groupe </option>
                <option> Parents </option>
                <option> Professeur </option>
                <option> Ancien_Eleve </option>
                <option> Baccalaureat </option>
                <option> Bacplus2 </option>
                <option> Stage  </option>
                <option> J_ETUDIANT_GROUPE </option>
                <option> J_SEMESTRE_PROFESSEUR </option>
                <option> J_GROUPE_PROFESSEUR </option>
                <option> J_BACCALAUREAT_ETABLISSEMENT </option>
                <option> J_BACPLUS2_ETABLISSEMENT </option>
            </select>
        </td>
        <td id="buton">
            <button onclick="swap('listA','listB');" id="add">&gt;</button>
            <br>
            <button onclick="swapAll('listA','listB');" id="addAll">&gt&gt;</button>
        </td>
        <td rowspan="2">
            <select name="listB" id="table2" multiple="true" ondblclick="swap('listB','listA')" >

            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="swap('listB','listA');"  id="remove">&lt;</button>
            <br>
            <button onclick="Selection_du_Poles()" id="removeAll">&lt&lt;</button>
        </td>
    </tr>
</table>
<button onclick="Selection_Table_Export()"> Valider </button>
<button onclick="Active_Selection_Table()"> Changer</button>
<br>
<div id='champs' style='display:inline'>

</div>
</body>
<html>