</select>
<sub id="message_pays_entreprise"></sub>
<br>
<label> Logo entreprise : </label>
<input id="logo_entreprise" name="logo_entreprise" onblur="VerifierChamps_Entreprise()">
<sub id="message_logo_entreprise"></sub>
<br>
<label> Nom de la personne contact à l'ESTA : </label>
<input id="contact_ESTA" name="contact_ESTA" onblur="VerifierChamps_Entreprise()">
<sub id="message_contact_ESTA"></sub>
<br>
<br>
<label> A déjà pris un stagiaire : </label>
<select id="stagiaire" name="stagiaire" onblur="VerifierChamps_Entreprise()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_stagiaire"></sub>
<br>
<label> Intérésser pour prendre un stagiaire : </label>
<select id="veut_stagiaire" name="veut_stagiaire" onblur="VerifierChamps_Entreprise()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_veut_stagiaire"></sub>
<br>
<br>
<label> A un ancien élève : </label>
<select id="ancien_eleve" name="ancien_eleve" onblur="VerifierChamps_Entreprise()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_ancien_eleve"></sub>
<br>
<br>
<label> Intérésser par une journée spéciale : </label>
<select id="journee_speciale" name="journee_speciale" onblur="VerifierChamps_Entreprise()"><option> - </option>