</select>
<sub id="message_journee_speciale"></sub>
<br>
<br>
<label> A déjà participer au forum entreprise : </label>
<select id="forum_entreprise" name="forum_entreprise" onblur="VerifierChamps_Entreprise()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_forum_entreprise"></sub>
<br>
<br>
<label> Dernière Date de visite : </label>
<input id="date_visite" name="date_visite" onblur="VerifierChamps_Entreprise()">
<sub id="message_date_visite"></sub>
<br>
<label> Dernière Date d'envoi d'information : </label>
<input id="date_envoi_information" name="date_envoi_information" onblur="VerifierChamps_Entreprise()">
<sub id="message_date_envoi_information"></sub>
<br>
<br>
<label>Commentaire sur le dernier envoi : </label>
<input id="commentaire_envoi" name="commentaire_envoi" onblur="VerifierChamps_Entreprise()">
<sub id="message_commentaire_envoi"></sub>
<br>
</div>
<button id="valider" type="submit"> Valider </button>
</form>
</body>
</html>