</select>
<sub id="message_secteur_activite"></sub>
<br>
<label> Site internet : </label>
<input id="site_internet" name="site_internet" onblur="VerifierChamps_Entreprise()">
<sub id="message_site_internet"></sub>
<br>
<label> Numéro de téléphone de l'entreprise : </label>
<input id="telephone_entreprise" name="telephone_entreprise" onblur="VerifierChamps_Entreprise()">
<sub id="message_telephone_entreprise"></sub>
<br>
<br>
<label> Adresse de l'entreprise : </label>
<input id="adresse_entreprise" name="adresse_entreprise" onblur="VerifierChamps_Entreprise()">
<sub id="message_adresse_entreprise"></sub>
<br>
<label> Code postal de l'entreprise : </label>
<input id="code_postal_entreprise" name="code_postal_entreprise" onblur="VerifierChamps_Entreprise()">
<sub id="message_code_postal_entreprise"></sub>
<br>
<label> Ville de l'entreprise : </label>
<input id="ville_entreprise" name="ville_entreprise" onblur="VerifierChamps_Entreprise()">
<sub id="message_ville_entreprise"></sub>
<br>
<label> Pays de l'entreprise : </label>
<select id="pays_entreprise" name="pays_entreprise" onblur="VerifierChamps_Entreprise()"> <option> - </option>