</select>
<sub id="message_nom_academie"></sub>
<br>
<label> Formation chimie : </label>
<select id="formation_chimie" name="formation_chimie" onblur="VerifierChamps_Etablissement()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_formation_chimie" ></sub>
<br>
<label> Téléphone de l'établissement : </label>
<input id="telephone_etablissement" name="telephone_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_telephone_etablissement"></sub>
<br>
<label> Mail de l'établissement : </label>
<input id="mail_etablissement" name="mail_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_mail_etablissement"></sub>
<br>
<label> Adresse de l'établissement : </label>
<input id="adresse_etablissement" name="adresse_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_adresse_etablissement"></sub>
<br>
<label> Code postal de l'établissement : </label>
<input id="code_postal_etablissement" name="code_postal_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_code_postal_etablissement"></sub>
<br>
<label> Ville de l'établissement : </label>
<input id="ville_etablissement" name="ville_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_ville_etablissement"></sub>
<br>
<label> BAC </label>
<select id="BAC" name="BAC" onblur="VerifierChamps_Etablissement()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_BAC"></sub>
<br>
<label> BAC + 2 </label>
<select id="BACplus2" name="BACplus2" onblur="VerifierChamps_Etablissement()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_BACplus2"></sub>
<br>
</div>
<button id="valider" type="submit"> Valider </button>
</body>
</html>