</select>
<sub id="message_categorie_etablissement"></sub>
<br>
<label> Date de dernière mise à jour : </label>
<input id="derniere_maj" name="derniere_maj" onblur="VerifierChamps_Etablissement()">
<sub id="message_derniere_maj"></sub>
<br>
<label> Nom de l'établissement : </label>
<input id="nom_etablissement"  name="nom_etablissement" onblur="VerifierChamps_Etablissement()">
<sub id="message_nom_etablissement"></sub>
<br>
<label> Nom de l'Académie : </label>
<select id="nom_academie" name="nom_academie" onblur="VerifierChamps_Etablissement()"><option> - </option>