</select>
<sub id="message_semestre"></sub>
<br>
<label> Est redoublant : </label>
<select id="redoublant" name="redoublant" onblur="VerifierChamps_Etudiant()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_redoublant"></sub>
<br>
<label> Semestre à l'étranger : </label>
<input id="semestre_etranger" name="semestre_etranger" onblur="VerifierChamps_Etudiant()">
<sub id="message_semestre_etranger"></sub>
<br>
<label> A Obtenu un BAC + 2 : </label>
<select id="bacPlus2_obtenu" name="bacPlus2_obtenu" onblur="VerifierChamps_Etudiant()"><option> - </option>