</select>
<sub id="message_bac_obtenu"></sub>
<br>
<label> Date d'entrée à l'ESTA : </label>
<input id="date_entree_ESTA" name="date_entree_ESTA" onblur="VerifierChamps_Etudiant()">
<sub id="message_date_entree_ESTA"></sub>
<br>
<label> Score Toeïc : </label>
<input id="score_toeic" name="score_toeic" onblur="VerifierChamps_Etudiant()">
<sub id="message_score_toeic"></sub>
<br>
<label> Score Widaf : </label>
<input id="score_widaf" name="score_widaf" onblur="VerifierChamps_Etudiant()">
<sub id="message_score_widaf"></sub>
<br>
<label> Score Elyte : </label>
<input id="score_elyte" name="score_elyte" onblur="VerifierChamps_Etudiant()">
<sub id="message_score_elyte"></sub>
<br>
<label> Boursier : </label>
<select id="boursier" name="boursier" onblur="VerifierChamps_Etudiant()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_boursier"></sub>
<br>
<label> Portable de l'étudiant : </label>
<input id="portable_etudiant" name="portable_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_portable_etudiant"></sub>
<br>
<label> Mail de l'étudiant : </label>
<input id="mail_etudiant" name="mail_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_mail_etudiant"></sub>
<br>
<label> Date de naissance de l'étudiant : </label>
<input id="date_naissance_etudiant" name="date_naissance_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_date_naissance_etudiant"></sub>
<br>
<label> Lieu de naissance de l'étudiant : </label>
<input id="lieu_naissance_etudiant" name="lieu_naissance_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_lieu_naissance_etudiant"></sub>
<br>
<label> Département de naissance de l'étudiant : </label>
<input id="departement_naissance_etudiant" name="departement_naissance_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_departement_naissance_etudiant"></sub>
<br>
<br>
<label> Nom du pays de naissance de l'étudiant : </label>
<input id="pays_naissance_etudiant" name="pays_naissance_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_pays_naissance_etudiant"></sub>
<br>
<br>
<label> Nom du précédent établissement de l'Etudiant : </label>
<input id="nom_etablissement" name="nom_etablissement" onblur="VerifierChamps_Etudiant()">
<sub id="message_nom_etablissement"></sub>
<br>
<br>
<label> Sexe de létudiant : </label>
<select id="sexe_etudiant" name="sexe_etudiant" onblur="VerifierChamps_Etudiant()">
    <option> - </option>
    <option> Masculin </option>
    <option> Féminin </option>
</select>
<sub id="message_sexe_etudiant"></sub>
<br>
<label> Nationalité de l'étudiant : </label>
<input id="nationalite_etudiant" name="nationalite_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_nationalite_etudiant"></sub>
<br>
<label> Numéro de sécurité sociale étudiant : </label>
<input id="securite_sociale" name="securite_sociale" onblur="VerifierChamps_Etudiant()">
<sub id="message_securite_sociale"></sub>
<br>
<br>
<label> Numéro de BEA ou INE : </label>
<input id="numero_BEA" name="numero_BEA" onblur="VerifierChamps_Etudiant()">
<sub id="message_numero_BEA"></sub>
<br>
<label> Adresse de l'étudiant : </label>
<input id="adresse_etudiant" name="adresse_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_adresse_etudiant"></sub>
<br>
<label> Code postal de l'étudiant : </label>
<input id="code_postal_etudiant" name="code_postal_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_code_postal_etudiant"></sub>
<br>
<label> Ville de l'étudiant : </label>
<input id="ville_etudiant" name="ville_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_ville_etudiant"></sub>
<br>
<label> Pays de l'étudiant : </label>
<input id="pays_etudiant" name="pays_etudiant" onblur="VerifierChamps_Etudiant()">
<sub id="message_pays_etudiant"></sub>
<br>
<label> Nom des parents : </label>
<input id="nom_parents" name="nom_parents" onblur="VerifierChamps_Etudiant()">
<sub id="message_nom_parents"></sub>
<br>
<label> Envoi du bulletin : </label>
<select id="envoi_bulletin" name="envoi_bulletin" onblur="VerifierChamps_Etudiant()">
    <option> - </option>
    <option> Etudiant </option>
    <option> Parents </option>
</select>
<sub id="message_envoi_bulletin"></sub>
<br>
<label> En stage </label>
<select id="stage" name="stage" onblur="VerifierChamps_Etudiant()">
    <option> - </option>
    <option> Non </option>
    <option> Oui </option>
</select>
<sub id="message_stage"></sub>
<br>
</div>
<button id="valider" type="submit"> Valider </button>
</form>
</body>
</html>