</select>
<sub id="message_pole_enseignement"></sub>
<br>
<label> Adresse du professeur : </label>
<input id="adresse_professeur" name="adresse_professeur" onblur="VerifierChamps_Professeur()">
<sub id="message_adresse_professeur"></sub>
<br>
<label> Code postal du professeur : </label>
<input id="code_postal_professeur" name="code_postal_professeur" onblur="VerifierChamps_Professeur()">
<sub id="message_code_postal_professeur"></sub>
<br>
<label> Ville du professeur : </label>
<input id="ville_professeur" name="ville_professeur" onblur="VerifierChamps_Professeur()">
<sub id="message_ville_professeur"></sub>
<br>
<label > Téléphone professionnel du professeur : </label>
<input id="telephone_professionnel" name="telephone_professionnel" onblur="VerifierChamps_Professeur()">
<sub id="message_telephone_professionnel"></sub>
<br>
<br>
<label> Portable du professeur : </label>
<input id="portable_professeur" name="portable_professeur" onblur="VerifierChamps_Professeur()">
<sub id="message_portable_professeur"></sub>
<br>
<label> Téléphone personnel du professeur : </label>
<input id="telephone_personnel" name="telephone_personnel" onblur="VerifierChamps_Professeur()">
<sub id="message_telephone_personnel"></sub>
<br>
<br>
<label> Mail du professeur : </label>
<input id="mail_professeur" name="mail_professeur">
<sub id="message_mail_professeur"></sub>
<br>
<label> Nom d'établissement d'enseignement principale : </label onblur="VerifierChamps_Professeur()">
<input id="nom_etablissement" name="nom_etablissement">
<sub id="message_nom_etablissement"></sub>
<br>
<br>
<label> Nom de l'entreprise de l'intervenant : </label>
<input id="nom_entreprise"  name="nom_entreprise" onblur="VerifierChamps_Professeur()">
<sub id="message_nom_entreprise"></sub>
<br>
<br>
</div>
<button id="valider" type="submit"> Valider </button>
</form>
</body>
</html>