<html>
<head>
    <script src="../../../Assets/js/Affichage.js" type="text/javascript" LANGUAGE="JavaScript">
    </script>
    <link rel="stylesheet" href="../../../Assets/css/Affichage.css" />
</head>
<body>
<br>
<div class="formulaire">
<label id="selection_table"> Veuillez selectionner votre table : </label>

            <select name="listA" id="table1">
                <option> Entreprise </option>
                <option> Contact </option>
                <option> Ancien_eleve </option>
                <option> Etablissement </option>
                <option> Permanent </option>
                <option> Professeur </option>
                <option> Stage </option>
                <option> Etudiant </option>
            </select>

<button onclick="Selection_Table_Affichage()"> Valider </button>
<button id="change" onclick="Active_Selection_Table()"> Changer</button>
</div>
<br>
<div id='champs' style='display:inline'>

</div>
</body>
<html>
