<br>
<div class="formulaire">
<label> Veuillez Selectionner un Pôle : </label>
<Select id="poles">
    <option value="0"></option>
    <option> Scolarité </option>
    <option> Gestion Entreprise </option>
    <option> Communication </option>
    <option> Administration </option>

</Select>
<button id="valider_poles" onclick="Selection_Poles_Export()"> Valider </button>
<button id="changer_poles" onclick="Changer_Selection_Poles()"> Changer </button>
</div>
<br>
<br>
<div id='tables' style='display:inline'>

</div>


